.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;500&display=swap');
/*font-family: 'Kumbh Sans', sans-serif;*/

body {
    font-family: 'Kumbh Sans', sans-serif;
    width: 60%;
    margin: auto;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid rgb(202, 199, 199);
    width: 100%;
}
#nav_bar {
    display: flex;
    justify-content: flex-start;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    padding: 10px;
}
li a {
    display: block;
    text-decoration: none;
    color: rgb(175, 173, 173);
}
li a:hover {
    text-decoration: underline;
    text-underline-offset: 20px;
    color: rgb(102, 100, 100);
    text-decoration-color: hsl(26, 100%, 55%);
    text-decoration-thickness: 3px;
}
#links {
    display: flex;
    justify-content: left;
}
#logo {
    padding-top: 30px;
    height: 20px;
}
#cart_avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#cart {
    padding-top: 30px;
    height: 20px;
}
#avatar {
    padding-top: 15px;
    height: 50px;
}
p {
    color: rgb(158, 155, 155);
}
h5 {
    color: hsl(26, 100%, 55%);
}
#logo {
    padding-top: 30px;
    height: 20px;
}
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 1;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .column img:hover {
    opacity: 0.8;
    border-style: solid;
    border-color: hsl(26, 100%, 55%);
  }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    position: relative;
    display: none;
  }
  /* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  /* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }