.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;500&display=swap');
/*font-family: 'Kumbh Sans', sans-serif;*/

body {
    font-family: 'Kumbh Sans', sans-serif;
    width: 60%;
    margin: auto;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    padding: 10px;
    color: rgb(158, 155, 155);
}
li a {
    display: block;
    color: white;
    text-decoration: none;
    float: left;
}
#links {
    display: flex;
    justify-content: left;
}
#logo {
    padding-top: 30px;
    height: 20px;
}
#cart_avatar {
    display: flex;
    flex-direction: row;
}
#cart {
    padding-top: 30px;
    height: 20px;
}
#avatar {
    padding-top: 15px;
    height: 50px;
}
p {
    color: rgb(158, 155, 155);
}
h5 {
    color: hsl(26, 100%, 55%);
}
#logo {
    padding-top: 30px;
    height: 20px;
}
